@use '../styles/tokens' as tokens;
@use '../styles/mixins' as mixins;

.contact-page {
  width: 100%;
}

.contact-page__details {
  @include mixins.card(
    1.5rem,
    tokens.$radius_xl,
    #{tokens.$color_surface},
    none,
    0
  );
  @include mixins.stack(1.5rem);
}

.contact-page__group {
  @include mixins.stack(0.75rem);
}

.contact-page__heading {
  font-family: tokens.$font_serif;
  font-size: 1.6rem;
  color: #{tokens.$color_foreground};
}

.contact-page__list {
  margin: 0;
  padding-left: 1.5rem;
  color: rgb(var(--color-foreground) / 0.8);
  list-style: decimal;

  li + li {
    margin-top: 0.5rem;
  }
}

.contact-page__credits-heading {
  font-size: 1.25rem;
  font-family: tokens.$font_serif;
  color: #{tokens.$color_foreground};
}

.contact-page__credits {
  margin: 0;
  padding-left: 1.25rem;
  font-size: 0.95rem;
  color: rgb(var(--color-foreground) / 0.7);
  list-style: disc;

  li + li {
    margin-top: 0.35rem;
  }
}
