@use '../styles/tokens' as tokens;
@use '../styles/mixins' as mixins;

.home-page {
  padding-top: 10vh;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  color: #{tokens.$color_foreground};
}

.home-page__content {
  @include mixins.stack(1.5rem);
  position: relative;
  z-index: 1;
  width: min(100%, 40rem);
  text-align: center;
  align-items: center;
}

.home-page__logo {
  width: clamp(4rem, 16vw, 6rem);
  height: auto;
}

.home-page__title {
  font-family: tokens.$font_serif;
  font-size: clamp(2.75rem, 7vw, 4.25rem);
  line-height: 1.05;
  color: rgb(var(--color-background));
}

.home-page__subtitle {
  font-family: tokens.$font_serif;
  font-size: clamp(1.8rem, 4vw, 3rem);
  line-height: 1.05;
  color: rgb(var(--color-background));
}

.home-page__sub-subtitle {
  font-size: clamp(1rem, 2.4vw, 1.35rem);
  color: rgb(var(--color-background));
  font-style: italic;
}

.home-page__cta {
  align-self: center;
}
