@use '../styles/tokens' as tokens;
@use '../styles/mixins' as mixins;

.home-page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-block: clamp(4rem, 16vh, 8rem);
  color: #{tokens.$color_foreground};
  isolation: isolate;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    pointer-events: none;
  }

  &::before {
    background-image: url('/images/home-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
  }

  &::after {
    z-index: -1;
    background-image: linear-gradient(
      135deg,
      rgb(var(--color-background) / 0.75),
      rgb(var(--color-background) / 0.55)
    );
  }
}

.home-page__content {
  @include mixins.stack(1.5rem);
  position: relative;
  z-index: 1;
  width: min(100%, 40rem);
  text-align: left;
  align-items: flex-start;
}

.home-page__title {
  font-family: tokens.$font_serif;
  font-size: clamp(2.75rem, 7vw, 4.25rem);
  line-height: 1.05;
}

.home-page__subtitle {
  font-size: clamp(1rem, 2.4vw, 1.35rem);
  color: rgb(var(--color-foreground) / 0.85);
}

.home-page__cta {
  align-self: flex-start;
}
