@use '../styles/tokens' as tokens;
@use '../styles/mixins' as mixins;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #{tokens.$color_background};
  color: #{tokens.$color_foreground};
}

.layout__main {
  flex: 1;
}

.layout__container {
  @include mixins.container;
  @include mixins.stack(clamp(2.5rem, 4vw, 4rem));

  padding-block: var(--space-section);
}
